.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.DatePicker {
    width: 25%;
    margin: auto;
    padding: 2rem;
}

.mb-5 {
    margin-bottom: 0rem;
}
.navbar-brand {
    font-size: 2rem;
}

.nav-center {
    text-align: center;
    color: white;
}